@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    font-family: poppins;
}

.container button{
    background-color: #BD5521;
}

.img1{
    position: relative;
    top:16px;
}




/* .container > h1{
    border-top-color: #EAB728;
    color: #F5D00B;
    font-family: poppins;
} */