/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}
body {background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,0.8134312913907285) 0%, rgba(185,217,235,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0.8134312913907285) 0%, rgba(185,217,235,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0.8134312913907285) 0%, rgba(185,217,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#b9d9eb",GradientType=1);
    background-repeat: no-repeat;}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
    text-decoration: none;
}
.btn{
    background-color: white;
    padding: 10px;

} */
@import url('https://fonts.cdnfonts.com/css/daydream');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

        body {
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.8134312913907285) 0%, rgba(185, 217, 235, 1) 100%);
            background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.8134312913907285) 0%, rgba(185, 217, 235, 1) 100%);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.8134312913907285) 0%, rgba(185, 217, 235, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#b9d9eb", GradientType=1);
            background-repeat: no-repeat;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px;
            text-decoration: none;
        }

        .title {
            background-image: url(cuoco_420.jpg);
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            padding: 2%;
        }

        .title>p {
            color:rgb(79, 55, 150) ;
            font-size: 30px;
        }

        .title>h1 {
            font-size: 40px;
            color:brown;
        }